.login-container {
  height:fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  background-color: white;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

.login-card {
  width: 400px;
  padding: 40px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 50px 50px rgba(0, 0, 0, 0.4);
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #333333;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #dcdde1;
  font-size: 15px;
  outline: none;
}

input:focus {
  border-color: #000000;
  cursor:text;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  caret-color: #000000;
}

input:focus::placeholder {
  color: transparent;
}

.login-btn {
  padding: 14px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #3b78e0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.link-item {
  font-size: 14px;
  color: #4c8df6;
  text-decoration: none;
  background-color: white;
}

.link-item:hover {
  text-decoration: underline;
}

.back-button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.back-button {
  padding: 8px 16px;
  background-color: #4c8df6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.back-button:hover {
  background-color: #3b78e0;
}